<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AltTrackr2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AltTrackr2.My.MySettings>
            <setting name="RegLocation" serializeAs="String">
                <value>HKEY_CURRENT_USER\Software\Maega\6\</value>
            </setting>
            <setting name="AppID" serializeAs="String">
                <value>6</value>
            </setting>
        </AltTrackr2.My.MySettings>
    </userSettings>
</configuration>